@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

html {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

a {
    text-decoration: none;
}
/*---------header-------------*/

.conteneur-logo {
    padding: 18px 18px 7px 18px;
    text-align: center;
}

.conteneur-logo a{
    position: absolute;
    left: 18px;
    top: 20px;
}

.conteneur-logo i {
    color: black;
   font-size: 15px;
}

.conteneur-logo img {
    width: 50%;
    max-width: 300px;                   /* pour les medias queries */
}
/*--------------main-----------*/

main {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash-mobile.jpg");

  background-size: contain;
  background-color: #cccccc;
  padding-top: 235px;
} 

.choices{
    border-radius: 35px 35px 0 0;
    background-color:#f2f2f2;
    padding: 8px;
}

.choices .titre1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-family: Shrikhand;
    font-size: 23px;
    font-weight: normal;
}

.fa-heart {
    padding-right: 20px;
    color: grey;
}

.card {
    margin-bottom: 30px;
}

@keyframes fadein {
    from {opacity:0; top: 15px;}
    to {opacity:1; top: 0px;}
}

.card a:nth-child(1) {
    animation: fadein 6s;
    position: relative;
}

.card a:nth-child(2) {
    animation: fadein 8s;
    position: relative;
}

.card a:nth-child(3) {
    animation: fadein 10s;
    position: relative;
}

h3 {
    font-size: 13px;
    color: grey;
    font-weight: normal;
    margin: 5px 0 0 0;
}

.underline {
    width: 30px;
    height: 3px;
    border-bottom: 3px solid #99E2D0;
    margin-bottom: 3px;
}

.choix {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    border-radius: 13px;
    box-shadow: 0 4px 8px 0 lightgrey;
    margin: 8px 0;
    max-width: 375px;                   /* pour les medias queries*/
    overflow: hidden;
}

.choix .menu {
    padding: 9px;
    width: 100%;
    overflow: hidden;
}

.choix h4{
    font-size: 14px;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.choix .ingredients {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
}

.choix .ingredients p{
    font-size: 12px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.choix .ingredients span{
    font-weight: bold;
    font-size: 11px;
    margin-right: 10px;
}

.choix .check{
    background-color: #99E2D0;
    border-radius: 0 13px 13px 0;
    text-align: center;
    padding: 13px 0;
    width: 0;
    transition: width 1500ms;
}

.choix .check i {
    font-size: 15px;
    background: white;
    border-radius: 20px;
    border: 5px solid white;
    color: #99E2D0;
    transform: rotate(0deg);
    transition: transform 1500ms;
    
}

.choix .menu:hover + .check{
    width: 80px;
}

.choix .menu:hover + .check > i {
    transform: rotate(360deg);
}

#commander {
    text-align: center;
    margin-bottom: 18px;
}

#bouton_commander {
    background: linear-gradient(to bottom, #FF79DA 20%, #9356DC 100%);
    color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 grey;
    padding: 11px;
    font-size: 13px;
    width: 150px;
}

#bouton_commander:hover {
    opacity: 0.8;
    box-shadow: 0 8px 16px 0 black;
}

/*--------------FOOTER---------------*/
footer {
    background: #3d3838;
    color: white;
    padding: 5px 20px;
}

#footer_logo{
    font-size: 15px;
    font-family: Shrikhand;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav p{
    font-size: 13px;
    color: white;
    padding: 0px 0px 5px 0px;
    margin: 0px;
    font-weight: 500;
}

nav a .icone{
    display: flex;
    align-items: center;
    color: white;
    margin-right: 12px;
}

nav span {
    width: 20px;
}

.fa-solid {
    font-size: 10px;
}


/*--------------MEDIAS QUERIES TABELETTE & DESKTOP-------------*/

@media all and (min-width: 769px) {

    .conteneur-logo i {
        font-size: 30px;
    }
    .card {
        display: flex;
        flex-wrap: wrap;
    }

    .choix {
    margin: 15px;
    width: 225px;
    }

}



